@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');

.amiri-font {
    font-family: 'Amiri Quran', serif;
    font-weight:500;
    line-height: 1.4;
  }

.roboto-font{
  font-family: 'Roboto';
}
.navdesign{
  background: rgba(255, 250, 237, 0.61);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.2px);
-webkit-backdrop-filter: blur(10.2px);
}
.versedesign{
/* From https://css.glass */
background: rgba(255, 250, 237, 0.87);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(255, 250, 237, 1);
}